<mat-toolbar color="primary" class="navbar px-2 px-md-4">

  <!-- IZQUIERDA -->
  <div class="nav-left d-flex align-items-center">
    <button mat-icon-button class="d-md-none" (click)="onMenuSidebar()">
      <i class="bi bi-list"></i>
    </button>
  </div>

  <!-- CENTRO -->
  <div class="nav-center">
    <section class="brand-container" routerLink="/">
      <a class="brand-logo-link">
        <img src="assets/images/logo-blanco.png" class="brand-logo" />
      </a>
      <a class="brand-text">
        <span class="brand-campus">CAMPUS</span>
        <span class="brand-forum">FORUM</span>
      </a>
    </section>
  </div>

  <!-- DERECHA -->
  <div class="nav-right d-flex align-items-center gap-3">

    <section class="d-none d-md-flex gap-4">
      <a mat-button routerLink="/">Inicio</a>
      <a mat-button routerLink="/proposito">Propósito</a>
    </section>

    <!-- Desktop -->
    <section class="d-none d-md-flex align-items-center gap-2">
      <button mat-button routerLink="/login" class="login-btn">
        Login
      </button>

      <button mat-raised-button routerLink="/registro" class="register-btn">
        Registro
      </button>

    </section>

  </div>

</mat-toolbar>