<mat-toolbar color="primary" class="navbar px-4">
  <section class="brand-container" aria-label="Barra principal">
    @if (isPrivate) {
      <button
        mat-icon-button
        type="button"
        class="menu-btn"
        (click)="onToggleSidebar()"
        aria-label="Abrir menú"
      >
        <mat-icon>menu</mat-icon>
      </button>
    }

    @if (isPublic) {
      <a
        type="button"
        (click)="goToInicio()"
        class="brand-logo-link"
        aria-label="Ir a inicio"
      >
        <img
          src="assets/images/logo-blanco.png"
          alt="Logo CampusForum"
          class="brand-logo"
        />
      </a>
    }

    <a
      [routerLink]="isPrivate ? '/dashboard' : '/landing'"
      class="brand-text"
    >
      <span class="brand-campus">CAMPUS</span>
      <span class="brand-forum">FORUM</span>
    </a>
  </section>

  @if (isPublic) {
    <section class="navbar__links">
      <a mat-button type="button" (click)="goToInicio()">Inicio</a>

      <button
        mat-button
        type="button"
        (click)="goToProposito()"
        class="nav-link-btn"
      >
        Propósito
      </button>
    </section>
  }

  @if (isPublic) {
    <section class="navbar__actions navbar__actions--public">
      <button
        mat-button
        type="button"
        (click)="goToLogin()"
        class="login-btn"
      >
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Login</span>
      </button>

      <button
        mat-raised-button
        type="button"
        (click)="goToRegistro()"
        class="register-btn"
      >
        <i class="bi bi-person-plus"></i>
        <span>Registro</span>
      </button>
    </section>
  }

  @if (isPrivate) {
    <section class="navbar__actions navbar__actions--private">
      <button
        mat-button
        type="button"
        class="navbar-profile-btn"
        (click)="goToProfile()"
      >
      <mat-icon>person_outlined</mat-icon>
        Perfil
      </button>

      <button
        mat-stroked-button
        type="button"
        class="logout-btn"
        (click)="logout()"
        aria-label="Cerrar sesión"
      >
        <i class="bi bi-box-arrow-right"></i>
        <span class="logout-btn__text">Cerrar sesión</span>
      </button>
    </section>
  }
</mat-toolbar>
