<footer class="footer-brand">

    <!-- Título del pie de página -->
    <section class="brand-text">
        <span class="brand-campus">CAMPUS</span>
        <span class="brand-forum">FORUM</span>
    </section>

    <!-- Mapa de sitio -->
    <section class="footer-map">
        <h4 class="title-map">Mapa de Sitio</h4>
        <section class="footer-links">
            <a class="map-link" href="#"><i class="bi bi-house-door-fill"></i>Inicio</a>
            <a class="map-link" href="#"><i class="bi bi-bullseye"></i>Propósito</a>
            <a class="map-link" href="#"><i class="bi bi-grid"></i>Categorías</a>
            <a class="map-link" href="#"><i class="bi bi-postcard-fill"></i>Publicaciones Recientes</a>
        </section>
    </section>

    <hr class="divider">

    <!-- Redes sociales -->
    <section class="footer-socialmedia">
        <h5 class="title-socialmedia">Síguenos en Redes Sociales</h5>
        <div class="social-icons">
            <a href="#" aria-label="Facebook" class="social-icon"><i class="bi bi-facebook"></i></a>
            <a href="#" aria-label="Instagram" class="social-icon"><i class="bi bi-instagram"></i></a>
        </div>
    </section>

    <!-- Copyright -->
    <section class="footer-copyright">
        <p>&copy; 2026 CampusForum. Todos los derechos reservados.</p>
    </section>

</footer>
