// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* =========================================================
   Fuentes principales
   ========================================================= */

// ============ Cuerpo de texto ============ 
@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

// ============ Títulos============  
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

/* =========================================================
   Base global
   ========================================================= */
html, body {
  height: 100%;
}

body {
  min-height: 100dvh; /* mejor comportamiento móvil */
  margin: 0;
  font-family: 'Open Sans', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-weight: 400;
}

/* Títulos */
h1 {
  font-family: 'Montserrat';
  font-weight: 700;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 600;
}

h3, h4 {
  font-family: 'Montserrat';
  font-weight: 600;
}

/* Texto */
p {
  font-family: 'Open Sans';
  font-weight: 400;
}

/* Botones */
button {
  font-family: 'Open Sans';
  font-weight: 500;
}

/* =========================================================
   Feedback de error (global opcional)
   ========================================================= */
.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  color: #bb0404;
  font-size: 0.875rem;
}